body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #13262f;
}

.wrapper {
  color: #dee3e0;
  padding: 2rem 0rem;
}

.wrapper h1 {
  margin: 0;
  text-align: center;
}

.input-wrap {
  width: 50%;
  display: block;
  margin: 2rem auto;
  font-size: 1.3rem;
  text-align: center;
}

.input-wrap input {
  width: 100%;
  background-color: #00120b;
  outline: none;
  border: none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 5px;
  color: #dee3e0;
}

.input-wrap input:focus {
  border: 1px solid #496ddb;
}

.input-wrap input::placeholder {
  font-weight: normal;
  font-size: medium;
  color: #dee3e0;
}
.output {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  color: #dee3e0;
  background-color: #00120b;
}

.input-wrap p {
  text-align: center;
}

.show-emojis {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0rem;
}

.show-emojis span {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.show-emojis span:hover {
  background-color: #4b5563;
}

@media only screen and (max-width: 769px) {
  .input-wrap {
    width: 80%;
  }
  .input-wrap input {
    width: 80%;
  }
  .show-emojis {
    width: 100%;
  }
}
